[data-theme="movie"] {
    --primary: #800016;
    --color-orange: #a0001c;
    --color-red: #c00021;
    --color-black: #000000;
    --color-lightblue: #002962;
    --color-white: #ffffff;
    --color-darkblue: #00043a;
}

body {
    background-color: var(--color-black);
}

.hero-title {
    color: var(--color-white);
    text-shadow: 10px 10px 10px var(--color-black);
}

.hero-support {
  color: var(--color-white);
  font-weight: 800;
  text-shadow: 5px 5px 5px var(--color-black);
}

/********* Hero *********/
/********* Hero *********/
/********* Hero *********/

.hero-mesh {
    background: url("https://wallpaperaccess.com/full/1561985.jpg");
    background-position: center;
    background-size: cover;
}

/********* navbar *********/
/********* navbar *********/
/********* navbar *********/

.site-nav-brand {
    color: var(--color-black);
    
}